// 间距标度 — 4 基础栅格
:root {
  --td-space-0: 0;
  --td-space-1: 4px;
  --td-space-2: 8px;
  --td-space-3: 12px;
  --td-space-4: 16px;
  --td-space-5: 20px;
  --td-space-6: 24px;
  --td-space-8: 32px;
  --td-space-10: 40px;
  --td-space-12: 48px;
  --td-space-16: 64px;
  --td-space-20: 80px;
}
